a:link {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  font-size: 7pt;
}
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  font-size: 7pt;
}
a:active {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  font-size: 7pt;
}
a:hover {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  cursor: hand;
  text-transform: uppercase;
  font-size: 7pt;
}
a:visited:hover {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  cursor: hand;
  text-transform: uppercase;
  font-size: 7pt;
}

body {
  background-color: rgb(147, 177, 182);
  cursor: default;
  scrollbar-track-color: #dfdfdf;
  scrollbar-face-color: #93c4f9;
  scrollbar-highlight-color: #b5d6fb;
  scrollbar-3dlight-color: #000000;
  scrollbar-shadow-color: #333333;
  scrollbar-darkshadow-color: #333333;
  scrollbar-arrow-color: #333333;
}

body,
html,
td,
font,
div,
p {
  font-family: trebuchet ms, verdana, sans-serif;
  font-size: 9pt;
  letter-spacing: 0pt;
  line-height: 11px;
}

input,
textarea,
option {
  background: #b5d6fb;
  font-family: trebuchet ms, Sans-serif;
  font-size: 9pt;
  letter-spacing: 0pt;
  color: #000000;
  line-height: 11px;
  border-width: 0px;
}

h3 {
  text-transform: uppercase;
}

a.nav {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #ffffff;
  border: solid 1px #000000;
}
a.nav:hover {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #baa974;
  border: solid 1px #000000;
  text-decoration: none;
}

a.navb {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #ffffff;
  border: solid 1px #000000;
}
a.navb:hover {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #d75e85;
  border: solid 1px #000000;
  text-decoration: none;
}

a.navc {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #ffffff;
  border: solid 1px #000000;
}
a.navc:hover {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #baa974;
  border: solid 1px #000000;
  text-decoration: none;
}

a.navd {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #ffffff;
  border: solid 1px #000000;
}
a.navd:hover {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #d75e85;
  border: solid 1px #000000;
  text-decoration: none;
}

a.nave {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #ffffff;
  border: solid 1px #000000;
}
a.nave:hover {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #baa974;
  border: solid 1px #000000;
  text-decoration: none;
}

a.navf {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #ffffff;
  border: solid 1px #000000;
}
a.navf:hover {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #d75e85;
  border: solid 1px #000000;
  text-decoration: none;
}

a.navg {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #ffffff;
  border: solid 1px #000000;
}
a.navg:hover {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #baa974;
  border: solid 1px #000000;
  text-decoration: none;
}

a.navh {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #ffffff;
  border: solid 1px #000000;
}
a.navh:hover {
  height: 18px;
  width: 92px;
  text-align: left;
  padding: 3px;
  background: #d75e85;
  border: solid 1px #000000;
  text-decoration: none;
}
